{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<h1>Спасибо за оплату!</h1>
<p>Ваш заказ принят.</p>

{% if user.is_authenticated %}
<h4 style="margin-top: 20px;">чтобы информацию о статусе заказа!</h4>
<div id="push-offer">
    {% comment %} <p>🔔 Хотите получать информацию о статусе заказа?</p> {% endcomment %}
    <button class="users-btn" id="enable-push-btn" data-vapid-key="{{ VAPID_PUBLIC_KEY }}">
    🔔 Включите уведомления
</button>

</div>
{% endif %}
{% endblock %}
