<header class="start_header">
    {% include 'shop/includes/nav_icons.html' %}
    {% include 'shop/includes/user_icons.html' %}
    
    <div class="start_header_content_wrapper">
        
        <div class="logo_container">
            {% if logo %}
            <img src="{{ logo.image.url }}" alt="Логотип">
            {% endif %}
           <p>{{ logo_text.description }}</p>
        </div>
        <nav class="start_nav">
            <a href="{% url 'shop:catalog' %}" class="nice-btn">ПЕРЕЙТИ В КАТАЛОГ</a>
            
           
            
        </nav>
        <div class="slogan_wrapper">

            {{slogan.description|safe}}
            <p class="slogan_note">{{slogan.note}}</p>
           
        </div>
    </div>
</header>