<header class="start_header">
    <div class="start_header_content_wrapper">
        
        <div class="logo_container">
            {% if logo %}
            <img src="{{ logo.image.url }}" alt="Логотип">
            {% endif %}
           <p>{{ logo_text.description }}</p>
        </div>
        <nav class="start_nav">
            <a href="{% url 'shop:catalog' %}" class="nice-btn">В КАТАЛОГ</a>
            
            <ul>
                <li><a href="{% url 'shop:index' %}">ГЛАВНАЯ СТРАНИЦА</a></li>
                {% comment %} <li class="accent-link"><a href="{% url 'shop:catalog' %}">В КАТАЛОГ ТОВАРОВ</a></li> {% endcomment %}
                <li><a href="">КАТЕГОРИИ ТОВАРОВ</a></li>
                <li><a href="">КОНТАКТЫ</a></li>
            </ul>
            
        </nav>
        <div class="slogan_wrapper">

            {{slogan.description|safe}}
            <p class="slogan_note">{{slogan.note}}</p>
           
        </div>
    </div>
</header>