<header class="start_header">
    <div class="start_header_content_wrapper">
         <div class="cart_wrapper">
                <div class="cart_box" x-data="{ open: false }">
                    <img src="{{ cart_icon.image.url }}" alt="Корзина" title="Корзина" x-on:click="open = !open">
                    <div class="overlay" x-show="open" x-on:click="open = !open"></div>
                    <div class="cart_popup" x-show="open">
                        <p>В корзине пока ничего нет</p>
                        <div class="close_icon" x-on:click="open = !open">
                            ✗
                        </div>

                    </div>
                </div>
                <a href="{% url 'users:login' %}" class="account_box">
                    <img src="{{ account_icon.image.url }}" alt="Аккаунт" title="Войти">
                </a>
            </div>
        <div class="logo_container">
            {% if logo %}
            <img src="{{ logo.image.url }}" alt="Логотип">
            {% endif %}
           <p>{{ logo_text.description }}</p>
        </div>
        <nav class="start_nav">
            <a href="{% url 'shop:catalog' %}" class="nice-btn">В КАТАЛОГ</a>
            
            <ul>
                <li><a href="{% url 'shop:index' %}">ГЛАВНАЯ СТРАНИЦА</a></li>
                {% comment %} <li class="accent-link"><a href="{% url 'shop:catalog' %}">В КАТАЛОГ ТОВАРОВ</a></li> {% endcomment %}
                <li><a href="">КАТЕГОРИИ ТОВАРОВ</a></li>
                <li><a href="">КОНТАКТЫ</a></li>
            </ul>
            
        </nav>
        <div class="slogan_wrapper">

            {{slogan.description|safe}}
            <p class="slogan_note">{{slogan.note}}</p>
           
        </div>
    </div>
    
</header>