<a href="{{ product.get_absolute_url }}"><div class="product-card" x-data="{ show: false, isFavorite: {% if product.id in user_favorite_ids %}true{% else %}false{% endif %} }">
    <div class="product-image-container" >
        <img src="{{ product.main_image.url }}" alt="{{ product.name }}" class="product-image">

        <button class="favorite-btn" type="button"
        @click.prevent="isFavorite = !isFavorite; $nextTick(() => $dispatch('toggle-fav'))"
        hx-post="{% url 'shop:toggle_favorite' product.id %}"
        hx-trigger="toggle-fav" 
        :hx-vals="JSON.stringify({ is_favorite: isFavorite })"
        hx-swap="none">
            <svg viewBox="0 0 24 24" :fill="isFavorite ? 'red' : 'none'">
                <path
                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                </path>
            </svg>
        </button>
        {% if product.discount_percentage > 0 %}
        <div class="discount-badge"> - {{ product.discount_percentage }}%</div>
        {% endif %}
        {% if product.is_hit %}
        <div class="box">
            <div class="ribbon">хит продаж</div>
        </div>
        {% endif %}
    </div>

    <div class="product-info">
        <div class="price-container">
            <span class="current-price">{{ product.final_price }} ₽</span>
            <span class="old-price">{{ product.start_price }} ₽</span>

        </div>
        


        <div class="product-title">
            {{ product.name }}
        </div>
        <div class="rating-wrapper">
            <span class="rating-badge">
                {% include 'shop/includes/rating_stars.html' with rating=product.rating %}
            </span>
            <span class="rating-value">{{ product.rating }}</span>
            
            
        </div>

        <button class="add-to-cart-btn" @click.prevent="console.log('Добавлено в корзину')">
            <svg viewBox="0 0 24 24">
                <path
                    d="M9 2a1 1 0 0 0-.894.553L7.382 4H4a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1h-3.382l-.724-1.447A1 1 0 0 0 15 2H9zM4 8v11a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V8H4z" />
            </svg>
            <p>В корзину</p>
            <p class="delivery-date">доставка завтра</p>
        </button>
       
    </div>
 <button class="mini-add-to-cart-btn">
            <svg viewBox="0 0 24 24">
                <path
                    d="M9 2a1 1 0 0 0-.894.553L7.382 4H4a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1h-3.382l-.724-1.447A1 1 0 0 0 15 2H9zM4 8v11a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V8H4z" />
            </svg>
        </button>
</div></a>
