<div class="review_content"> 
            <div class="review_text">
                <p class="review_info">{{ review.user.first_name }} {{ review.user.last_name }} {{ review.created_at|date:"d.m.Y" }}</p>
                    {% include 'shop/includes/rating_stars.html' with rating=review.rating %}<span>{{ review.rating }}</span>
                <h4 class="review_title">{{ review.title }}</h4>
                <p class="review_text_content">{{ review.text }}</p>
                
            </div>
            
            <div class="review_media">
            {% for media in review.media.all %}
            <div class="review_image_wrapper">
                <img src="{{ media.file.url }}" alt="{{ review.title }}">
            </div>
            {% endfor %}
            </div>
        </div>