{% extends 'dashboard/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>Панель администратора</h1>
      <div class="stats">
    <p>Всего товаров: <strong>{{ total_products }}</strong></p>
    <p>Пользователей: <strong>{{ total_users }}</strong></p>
  </div>

 
  <input type="button" onclick="window.location.href='{% url 'dashboard:manage_orders' %}'" class="order_action_btn" value="Управление заказами">
  <input type="button" class="order_action_btn" value="На главную" onclick="window.location.href='{% url 'shop:index' %}'">
{% endblock %}