{% extends 'dashboard/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>Панель администратора</h1>
 

 
  <input type="button" onclick="window.location.href='{% url 'dashboard:manage_orders' %}'" class="order_action_btn" value="Управление заказами">
  <input type="button" class="order_action_btn" value="На главную" onclick="window.location.href='{% url 'shop:index' %}'">
  <input type="button" class="order_action_btn" value="Добавить товар" onclick="window.location.href='{% url 'dashboard:product_create' %}'">
  <input type="button" class="order_action_btn" value="Обновить длину волос" onclick="window.location.href='{% url 'dashboard:update_hair_length' %}'">
  {% comment %} <input type="button" class="order_action_btn" value="Редактор групп" onclick="window.location.href='{% url 'dashboard:group_editor' %}'"> {% endcomment %}
{% endblock %}