{% extends 'dashboard/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <div class="order_list_wrapper">
   {% for order in orders %}
   {% if order.status != 'completed' and order.payment_status != 'paid' %}
   <div class="order_admin_item">
        <div class="order_main_info">
            <h3>Информация о заказе</h3>
                <p>номер заказа: {{ order.order_number}}</p>
                <p>дата заказа: {{ order.created_at|date:"d.m.Y" }}</p>
                <p>имя клиента: {{ order.customer_name  }}</p>
                <h4>город доставки: {{ order.delivery_city  }}</h4>
                <h4>адрес доставки: {{ order.delivery_address  }}</h4>
        </div>
    <h3>Товаров в заказе: {{ order.get_total_items  }}</h3>
    <h3>сумма заказа: {{ order.total }}</h3>
    <h3>статус: {{ order.get_status_display }}</h3>
    <h3>статус оплаты: {{ order.get_payment_status_display }}</h3>
    <ul>
        {% for item in order.items.all %}
            <li>{{ item.product_name }}</li>
        {% endfor %}
    </ul>
    
    </div>
   {% endif %}
   {% endfor %}
   <div class="orders_archive">
    <h2>Архив заказов</h2>
    {% for order in orders %}
    {% if order.status == 'delivered' and order.payment_status == 'paid' %}
    <div class="order_admin_item">
    <h3>номер заказа: {{ order.order_number}}</h3>
    <h3>дата заказа: {{ order.created_at|date:"d.m.Y" }}</h3>  
    <h3>сумма заказа: {{ order.total }}</h3>
    <h3>статус: {{ order.get_status_display }}</h3>
    <h3>статус оплаты: {{ order.get_payment_status_display }}</h3>
    <ul>
        {% for item in order.items.all %}
            <li>{{ item.product_name }}</li>
        {% endfor %}
    </ul>
    <h3>имя клиента: {{ order.customer_name  }}</h3>
    <h3>город доставки: {{ order.delivery_city  }}</h3>
    <h3>адрес доставки: {{ order.delivery_address  }}</h3>
    </div>
    {% endif %}
    {% endfor %}
   </div>
   <input type="button" value="На главную" onclick="window.location.href='{% url 'shop:index' %}'">
{% endblock %}