{% extends 'shop/base.html' %}

{% block title %}Каталог{% endblock %}

{% block content %}
<section class="catalog" id="catalog">
    <div class="container">
        <div class="catalog-title">
            <h2>Каталог товаров </h2>
            <a href="{% url 'shop:index' %}">На главную</a>

        </div>
        <div class="catalog-grid">
            {% for product in products %}
            <div class="product-card" >
                {% include 'shop/includes/product_card.html' %}
            </div>
            
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}