{% extends "shop/base.html" %}

{% block content %}

{% include 'shop/includes/desctop_header.html' %}

{% include 'shop/includes/mobile_header.html' %}


<section class="advantages">
    <div class="advantages">
        {% for advantage in advantages %}
        <div class="advantage">
            <h4>{{ advantage.site_assets_name}}</h4>
            <p>{{ advantage.description }}</p>
        </div>
        {% endfor %}
    </div>
</section>

{% include 'shop/includes/categories.html' %}
<section class="categories">
    <div class="container">
        <div class="section-title">
            <h2>Хиты продаж</h2>

        </div>
        <div class="categories-grid">
            {% for product in hit_products %}
            {% include 'shop/includes/product_card.html' %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- Footer -->
<footer id="contact">
    <div class="container">
        <div class="footer-grid">
            <div class="footer-col">
                <h3>Студия Наталии Румянцевой</h3>
                <p>Интернет-магазин искусственных волос премиум-класса. Мы помогаем нашим клиентам выглядеть безупречно
                    каждый день.</p>
                <div class="social-links">
                    <a href="#"><i class="fab fa-vk"></i></a>
                    <a href="#"><i class="fab fa-telegram"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="footer-col">
                <h3>Категории</h3>
                <ul class="footer-links">
                  {% for category in categories %}
                  <li>{{ category.name }}</li>
                  {% endfor %}
                </ul>
            </div>
            <div class="footer-col">
                <h3>Информация</h3>
                <ul class="footer-links">
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Доставка и оплата</a></li>
                    <li><a href="#">Возврат и обмен</a></li>
                    <li><a href="#">Политика конфиденциальности</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h3>Контакты</h3>
                <ul class="footer-links">
                    <li><i class="fas fa-map-marker-alt"></i> Москва, ул. Примерная, 12</li>
                    <li><i class="fas fa-phone"></i> +7 (999) 123-45-67</li>
                    <li><i class="fas fa-envelope"></i> info@luxuryhair.ru</li>
                    <li><i class="fas fa-clock"></i> Пн-Пт: 9:00-20:00</li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2026 SMSTUDIO. Все права защищены.</p>
        </div>
    </div>
    
</footer>


{% endblock content %}