{% extends 'shop/base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
   <section class="product_page_container" x-data="{ showPopup: false }">
    <div class="product_page_info_wrapper">
        
        <h2 class="product_page_title">{{ product.name }}</h2>
        <div class="product_page_categories">
        {% for category in product.category.all %}
           <span class="product_page_category"> {{ category.name }} </span>
        {% endfor %}
        </div>
        <div class="price-container">
            <span class="current-price">{{ product.final_price }} ₽</span>
            <span class="old-price">{{ product.start_price }} ₽</span>
            <span class="product_page_discount"> - {{ product.discount_percentage }}%</span>
            

        </div>
         <div class="rating-wrapper">
            <span class="rating-badge">
                {% include 'shop/includes/rating_stars.html' with rating=product.rating %}
            </span>
            <span class="rating-value">{{ product.rating }}</span>   
        </div>
        
     {# Блок характеристик волос #}   
    <div class="specs-grid">
        <div class="spec-item">
            <span class="spec-label">Артикул</span>
            <span class="spec-dots"></span>
            <span class="spec-value">{{ product.article|default:"не указан" }}</span>
        </div>
        <div class="spec-item">
            <span class="spec-label">Материал</span>
            <span class="spec-dots"></span>
            <span class="spec-value">{{ product.hair_material }}</span>
        </div>
        <div class="spec-item">
            <span class="spec-label">Длина</span>
            <span class="spec-dots"></span>
            <span class="spec-value">{{ product.hair_length|default:"-" }}</span>
        </div>
        <div class="spec-item">
            <span class="spec-label">Метод крепления</span>
            <span class="spec-dots"></span>
            <span class="spec-value">{{ product.hair_extension_method|default:"-" }}</span>
        </div>
        <div class="spec-item">
            <span class="spec-label">Количество прядей</span>
            <span class="spec-dots"></span>
            <span class="spec-value">{{ product.number_of_strands|default:"-" }}</span>
        </div>
        <div class="spec-item">
            <span class="spec-label">Страна производства</span>
            <span class="spec-dots"></span>
            <span class="spec-value">{{ product.country_of_origin|default:"-" }}</span>
        </div>
    </div>

        
        
        <div class="users-btn product-page-btn" style="margin-bottom: 0.5rem;" @click="showPopup = !showPopup">Показать все характеристики</div>
        {% comment %} {% include 'shop/includes/add_cart_button.html' %}    {% endcomment %}
          <button class="page-add-to-cart-btn" style="margin-top:1rem;" 
                    x-data="{ 
                    isAuth: {{ user.is_authenticated|yesno:'true,false' }},
                    handleCart() {
                        if (!this.isAuth) return alert('Нужно авторизоваться!');
            
                        htmx.ajax('POST', '{% url 'shop:toggle_cart' product.id %}', {
                            values: { is_cart: true },
                            swap: 'none'
                     });
                 }
                }"
             @click.prevent="handleCart">
            <svg fill="#8a5944" viewBox="0 0 24 24">
                <path d="M19 6h-2c0-2.76-2.24-5-5-5S7 3.24 7 6H5c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm-7-3c1.66 0 3 1.34 3 3H9c0-1.66 1.34-3 3-3zm0 10c-2.76 0-5-2.24-5-5h2c0 1.66 1.34 3 3 3s3-1.34 3-3h2c0 2.76-2.24 5-5 5z"/>
            </svg>
            <p>В корзину</p>
            <p class="delivery-date">доставка завтра</p>
        </button> 
    </div>

        <div class="overlay" 
     x-show="showPopup" 
     x-cloak
     x-transition:enter="transition-opacity"
     x-transition:enter-start="opacity-0"
     x-transition:enter-end="opacity-100"
     x-transition:leave="transition-opacity"
     x-transition:leave-start="opacity-100"
     x-transition:leave-end="opacity-0"
     x-on:click="showPopup = false"
     style="display: none;">
    </div>

<div x-show="showPopup"
     x-cloak
     x-transition:enter="transition-slide-left"
     x-transition:enter-start="slide-left-start"
     x-transition:enter-end="slide-left-end"
     x-transition:leave="transition-slide-left"
     x-transition:leave-start="slide-left-end"
     x-transition:leave-end="slide-left-start"
     class="product_info_popup"
     style="display: none;">
     <div class="close_icon" @click="showPopup = false">×</div>
    <h2 class="product_page_title">{{ product.name }}</h2>
    <div class="product_page_categories" style="margin-bottom: 1rem;">
        {% for category in product.category.all %}
            <span class="product_page_category"> {{ category.name }} </span>
        {% endfor %}
    </div>
    <div class="price-container">
        <span class="current-price">{{ product.final_price }} ₽</span>
        <span class="old-price">{{ product.start_price }} ₽</span>
        <span class="product_page_discount"> - {{ product.discount_percentage }}%</span>
    </div>
    <div class="rating-wrapper">
        <span class="rating-badge">
            {% include 'shop/includes/rating_stars.html' with rating=product.rating %}
        </span>
        <span class="rating-value">{{ product.rating }}</span>   
    </div>
            
             {# Блок характеристик волос #}   
    <div class="specs-grid">
        <div class="spec-item">
            <span class="spec-label">Артикул</span>
            <span class="spec-dots"></span>
            <span class="spec-value">{{ product.article|default:"не указан" }}</span>
        </div>
        <div class="spec-item">
            <span class="spec-label">Материал </span>
            <span class="spec-dots"></span>
            <span class="spec-value">{{ product.hair_material }}</span>
        </div>
        <div class="spec-item">
            <span class="spec-label">Длина</span>
            <span class="spec-dots"></span>
            <span class="spec-value">{{ product.hair_length|default:"-" }}</span>
        </div>
        <div class="spec-item">
            <span class="spec-label">Метод крепления</span>
            <span class="spec-dots"></span>
            <span class="spec-value">{{ product.hair_extension_method|default:"-" }}</span>
        </div>
        <div class="spec-item">
            <span class="spec-label">Количество прядей</span>
            <span class="spec-dots"></span>
            <span class="spec-value">{{ product.number_of_strands|default:"-" }}</span>
        </div>
        <div class="spec-item">
            <span class="spec-label">Ширина</span>
            <span class="spec-dots"></span>
            <span class="spec-value">{{ product.hair_width|default:"-" }}</span>
        </div>
        <div class="spec-item">
            <span class="spec-label">Тип волос</span>
            <span class="spec-dots"></span>
            <span class="spec-value">{{ product.hair_type|default:"-" }}</span>
        </div>
        <div class="spec-item">
            <span class="spec-label">Комплектация</span>
            <span class="spec-dots"></span>
            <span class="spec-value">{{ product.kit|default:"-" }}</span>
        </div>
        <div class="spec-item">
            <span class="spec-label">Декоративные элементы</span>
            <span class="spec-dots"></span>
            <span class="spec-value">{{ product.decoration|default:"-" }}</span>
        </div>
        <div class="spec-item">
            <span class="spec-label">Габариты упаковки</span>
            <span class="spec-dots"></span>
            <span class="spec-value">{{ product.package|default:"-" }}</span>
        </div>
        <div class="spec-item">
            <span class="spec-label">Страна производства</span>
            <span class="spec-dots"></span>
            <span class="spec-value">{{ product.country_of_origin|default:"-" }}</span>
        </div>
        
       
    </div>
    <h3 style="margin-bottom: 0.5rem;">Описание</h3>
            <p>{{ product.description }}</p>
    
    
    {% comment %} {% include 'shop/includes/add_cart_button.html' %} {% endcomment %}
     <button class="page-add-to-cart-btn" style="margin-top:1rem;" 
                    x-data="{ 
                    isAuth: {{ user.is_authenticated|yesno:'true,false' }},
                    handleCart() {
                        if (!this.isAuth) return alert('Нужно авторизоваться!');
            
                        htmx.ajax('POST', '{% url 'shop:toggle_cart' product.id %}', {
                            values: { is_cart: true },
                            swap: 'none'
                     });
                 }
                }"
             @click.prevent="handleCart">
            <svg fill="#8a5944" viewBox="0 0 24 24">
                <path d="M19 6h-2c0-2.76-2.24-5-5-5S7 3.24 7 6H5c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm-7-3c1.66 0 3 1.34 3 3H9c0-1.66 1.34-3 3-3zm0 10c-2.76 0-5-2.24-5-5h2c0 1.66 1.34 3 3 3s3-1.34 3-3h2c0 2.76-2.24 5-5 5z"/>
            </svg>
            <p>В корзину</p>
            <p class="delivery-date">доставка завтра</p>
        </button> 
    </div>
        
    
  
<div class="product_page_image_wrapper">
    <!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide"><img src="{{ product.main_image.url }}" alt="{{ product.name }}"></div>
    {% for image in product_gallery.all %}
    <div class="swiper-slide"><img src="{{ image.image.url }}" alt="{{ product.name }}"></div>
    {% endfor %}
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
    
</div>

    <div class="other_products_wrapper">
        <h2>Варианты</h2>
    <div class="related_product_gallery">
            {% for related_product in related_products %}
            <a href="{% url 'shop:product_page' related_product.slug related_product.id %}" class="related_product_link">
                <img src="{{ related_product.main_image.url }}" alt="{{ related_product.name }}" class="related_product_image">
                <span class="mini_price">{{ related_product.final_price }} ₽</span>
                <span class="mini_color">{{ related_product.color|default:"-" }}</span>
            </a>
            {% endfor %}
        </div> 
    </div>

    </section>
{% endblock %}
