{% extends "shop/base.html" %}

{% block content %}
<div class="all_profile_content">
<h2>Личный кабинет</h2>

<ul>
    <li>Email: {{ user.email }}</li>
    <li>Телефон: {{ user.phone_number }}</li>
    <li>Город доставки: {{ user.delivery_city }}</li>
</ul>
<form method="post" action="{% url 'users:logout' %}">
    {% csrf_token %}
    <button class="logaut-btn profile_logaut_btn" type="submit">Выйти</button>
</form>
</div>
<h3 class="profile_favorite_title">Избранное</h3>
<div class="catalog-grid">
{% for product in favorites %}
    {% include 'shop/includes/product_card.html' %}
{% endfor %}
</div>

{% endblock content %}