{% extends "shop/base.html" %}

{% block content %}


    <!-- Начало компонента Alpine -->
    <!-- x-data хранит состояние: какая вкладка сейчас активна (по умолчанию 1) -->
    <div x-data="{ activeTab: {{ active_tab }} }" class="accordion">

        <!-- Секция 1 -->
        <div class="accordion-item cart_section">
            <button 
                class="accordion-header" 
                :class="{ 'active': activeTab === 1 }"
                @click="activeTab = 1"
            >
                <h3 class="profile_title">Товары в корзине</h3> 
                <span class="icon" :class="{ 'rotate': activeTab === 1 }">▼</span>
            </button>
            <!-- x-show скрывает/показывает блок, x-transition добавляет анимацию -->
            <div 
                x-show="activeTab === 1" 
                x-transition 
                class="accordion-content"
            >
               
              {% include 'users/includes/cart_block.html' %}
            </div>
            </div>
        

        <!-- Секция 2 -->
        <div class="accordion-item favorites_section">
            <button 
                class="accordion-header" 
                :class="{ 'active': activeTab === 2 }"
                @click="activeTab = 2"
            >
                <h3 class="profile_title">Избранноые товары</h3>
                <span class="icon" :class="{ 'rotate': activeTab === 2 }">▼</span>
            </button>
            <div 
                x-show="activeTab === 2" 
                x-transition 
                class="accordion-content"
            >
                 <div class="catalog-grid">
            
            {% for product in favorites %}
                {% include 'shop/includes/product_card.html' %}
                {% empty %}
                <p class="no-items">Нет избранных товаров</p>
            {% endfor %}
        </div>
            </div>
        </div>

        <!-- Секция 3 -->
        <div class="accordion-item profile_section">
            <button 
                class="accordion-header" 
                :class="{ 'active': activeTab === 3 }"
                @click="activeTab = 3"
            >
                <h3 class="profile_title">Личные данные</h3>
                <span class="icon" :class="{ 'rotate': activeTab === 3 }">▼</span>
            </button>
            <div 
                x-show="activeTab === 3" 
                x-transition 
                class="accordion-content"
            >
       <div class="user_profile_info">
<h3 class="profile_title">Личные данные</h3>

<ul>
    <li>Email: {{ user.email }}</li>
    <li>Телефон: {{ user.phone_number }}</li>
    <li>Имя: {{ user.first_name }}</li>
    <li>Фамилия: {{ user.last_name }}</li>
    <li>Город доставки: {{ user.delivery_city }}</li>
    <li>Адрес доставки: {{ user.delivery_address }}</li>
</ul>
<button class="users-btn edit-profile-btn" onclick="window.location.href='{% url 'users:change_info' %}'">Редактировать профиль</button>
<form class="auth_form" method="post" action="{% url 'users:logout' %}">
    {% csrf_token %}
    <button class="users-btn profile_logaut_btn" type="submit">Выйти</button>
</form>
</div>
</div>
            </div>
        
<!-- Секция 4 -->
        <div class="accordion-item cart_section">
            <button 
                class="accordion-header" 
                :class="{ 'active': activeTab === 4 }"
                @click="activeTab = 4"
            >
                <h3 class="profile_title">История заказов</h3> 
                <span class="icon" :class="{ 'rotate': activeTab === 4 }">▼</span>
            </button>
            <!-- x-show скрывает/показывает блок, x-transition добавляет анимацию -->
            <div 
                x-show="activeTab === 4" 
                x-transition 
                class="accordion-content"
            >
               
              {% include 'users/includes/orders_history.html' %}

            </div>
            </div>
        </div>
    </div>



<svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
    <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"/>
    <path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"/>
</svg>

<svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
    <path d="M12 2C6.5 2 2 6.1 2 11c0 2.5 1.2 4.8 3.1 6.4l-1 3.6 3.8-1.5c1.2.5 2.6.8 4.1.8 5.5 0 10-4.1 10-9.3S17.5 2 12 2zm0 14.5c-1.1 0-2.2-.2-3.2-.6l-3.5 1.4.9-3.1c-1-1.3-1.6-2.9-1.6-4.7 0-4.1 3.4-7.5 7.5-7.5s7.5 3.4 7.5 7.5-3.4 7.5-7.5 7.5zm3.5-4.9l-2.5-2.7-4 2.7 3.3-3.5 2.5 2.7 4-2.7-3.3 3.5z"/>
</svg>
<svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
    <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4"/>
</svg>

{% endblock content %}